<% layout('layout') -%>
<div class="container">
<% if (!user) { %>
  <a href="/login">Login</a>
  <br/>
  <a href="/register">Register</a>
  <a href="/forgot">forgot</a>
<% } else { %>
  <p>You are currently logged in</p>
  <a href="/logout">Logout</a>
<% } %>
</div>